<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% set css %}
    {% include "link-styles.css" %}
  {% endset %}
  <style>
    {{css | safe}}
  </style>
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Decoy Links</h1>
      <a href="https://decoyschool.co.uk">
        <img src="./logo.svg"> 
      </a>
    </header>
    <ul class="link-grid">
      {% for link in links %}
        <a href="{{link.url}}" style="background-color: {{link.color }}">
          <li>{{link.title}}</li>
        </a>
      {% endfor %}
    </ul>
  </div>
</body>
</html>